button {
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(
      rgba(239, 135, 15, 0.795),
      rgb(207, 219, 41)
    );
    color: black;
    padding: 12px;
}
  
button:hover {
  transition: 200ms;
  transform: scale(1.1);
}
  
button:focus {
  outline: none;
}
  
nav {
  color: rgb(18, 223, 238);
  background-attachment: fixed;
  background-color: rgba(36, 33, 33, 0.747);
}
  
.loader {
  margin: 0 auto;
}
  
.avatar {
  border-radius: 70px;
  margin-bottom: 10px;
}
  
#main {
  padding: 15px 50px;
  margin: 0 auto;
  display: none;
}
  
#main img {
  animation-delay: 5s;
}
  
.profile {
  max-width: 300px;
  margin: 15px auto;
  text-align: center;
  font-family: arial;
  padding: 20px;
  border-color: rgba(32, 17, 238, 0.87);
  border-radius: 20px;
  background: linear-gradient(45deg, #efe057, #eeaa5b);


}
  
.profile:hover {
  transition: 500ms;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.6);
}
  
.name {
  font-family: cursive;
  font-style: italic;
  font-variant: small-caps;
  color: rgb(15, 16, 15);
  font-size: 25px;
  font-weight: bold;
}
  
.email {
  background-color: #4b4b4b70;
  border-radius: 40px;
  font-family: cursive;
  font-size: 18px;
  overflow-wrap: break-word;
}
